// Variables
@import 'variables';
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.welcome{
  position: relative;
  background: #202020;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.container{
  width: 80%;
  margin: auto;
  .header{
    display: flex;
    align-items: center;
    margin: auto;
    padding-top: 30px;
    position: sticky;
    justify-content: space-between;
    .logo{
      z-index: 1002;
      display: block;
      background-color: #fff;
      width: 130px;
      height: 40px;
    }
    .navbar{
      padding-right: 15%;
      display: flex;
      align-items:flex-end;
      z-index: 1000;
      a{
        align-items: center;
        font-style: italic;
        font-weight: bold;
        font-size: 16px;
        margin-top: 12px;
        line-height: 140.62%;
        display: block;
        margin: 0 15px;
        color: #fff;
        width: 50px;
        text-decoration: none;
      }
    }
  }
  .main{
    .first{
      display: block;
      height: 720px;
      .context{
        width: 60%;
        margin: auto;
        margin-top: 150px;
        vertical-align: center;
        h1{
          text-align: center;
          font-family: 'Yanone Kaffeesatz', sans-serif;
          font-style: bold;
          color: #fff;
          z-index: 1000;
          font-style: italic;
          font-weight: 600;
          font-size: 102px;
          letter-spacing: 12px;
          span{
            color: #B0806B;
          }
        }
        p{
          margin-top: 30px;
          text-align: center;
          font-style: italic;
          font-size: 40px;
          color: #fff;
        }
        p::after{
          content: "";
          display: block;  
          margin-top: 20px;
          border-bottom: 3px solid #fff;
        }
      }
    }
    .second{
      padding-top: 2rem;
      height: 650px;
      border-top: 4px solid #fff;
      h1{
        color: #D4C17F;
        font-size:34px;
      }
      div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .content{
          width: 40%;
          display: block;
          li{
            color: #fff;
            margin: 20px;
            display: block;
          }
        }
        }
        .image{
            width: 50%;
            img{
              width: 95%;
            }
        }

      }
    }
    .third{ 
      padding-top: 30px;
      border-top: 4px solid #fff;
      h1{
        color: #D4C17F;
        font-size:34px;
      }
      div{
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin: 0 auto;
        justify-content: space-between;
        div:hover{
          transform: translateX(36px);
          transition: .3s;
          filter: drop-shadow(-40px -4px 4px rgba(255, 255, 255, .1));
      }
        div{
          background-color: #fff;
          width: 300px;
          height: 470px;
          margin-top: 50px;
          filter: drop-shadow(-4px -4px 4px rgba(95, 95, 95, 0.25));
          border-radius: 14px;
          background-color: #222222;
          h3{
            color: #fff;
            margin:auto;
          }
          p{
            color: white;
            padding: 20px;
          }
          .cat_img{
            height: 200px;
            width: 96%;
          }
          section{
            width: 96%; 
            height:200px; 
            position:absolute; 
            padding:0; 
            margin:2%; 
            border-radius: 0; 
            background-color: #202020;
            opacity:.7;
          }
          img{
            margin: 2%;
            color: antiquewhite;
            height: 300px;
            display: block;
            justify-content: center;
            height: 150px;
          }
          button{
            width: 200px;
            height: 30px;
            display: block;
            align-content: center;
            margin: auto;
            background-color: #D4C17F;
            border-radius: 10px;
            color: #fff;
            font-size: 19px;
            font-weight: bold;
            outline: none;
            border:none;
          }
        }
      }
    }
    .fourth{
      margin-top: 100px;
      border-top: 4px solid #fff;
      h1{
        color: #D4C17F;
        font-size:34px;
      }
      div{
        display: flex;
        flex-wrap: wrap;
        width: 96%;
        justify-content: space-between;
        margin: auto;
        a{
          width: 320px;
          height: 370px;
          margin-top: 100px;
          text-decoration: none;
          display: block;
          div{
            text-align:right;
            .trener_img{
              width: 320px; 
              height: 370px; 
              position:absolute; 
              z-index:0; padding:0; 
              margin:0;
            }
            p{
              margin-left: 28%;
              padding-top: 80%;
              color: #fff;
              font-size: 20px;
              z-index: 1;
            }
            .discription{
              color: #B0806B;
              padding: 0;
              font-size: 18px;
              margin-top: 10px;
              margin-right: 40px;
              margin-left:50%;
            }
          }
        }
        a:hover{
          box-shadow: 0 0 10px rgba(238, 234, 234, 0.5);
        }
        a::before{
          content: "";
          background-color: #202020;
          width: 320px;
          opacity: .5;
          position: absolute;
          height: 370px;
        }
        a:hover:before{
          opacity: 0;
        }
      }
    }
    .fives{
      h1{
        padding: 100px 0; 
        color: #D4C17F;
        font-size:34px;
      }
    }
    .sixth{
      height: 200px ;
      margin: auto;
      margin-top:100px;
      h1{
        color: #D4C17F;
        font-size:28px;
      }
      div{
        display: flex;
        justify-content: space-between;
        div{
          p{color: #fff;}
        }
        form{
          display: flex;
          .do{
            margin-right: 30px;
            display: block;
            p{
              font-size: 12px;
              width: 90%;
              padding-top: 20px;
              text-align: center;
              color: #fff;
            }
            input{
              display: block;
              width: 290px;
              height: 40px;
              text-align: center;
              border: none;
              outline: none;
              background: #525151;
              color: #fff;
            }
          }
          .re{
            display: block;
            button{
              margin-top: 20px;
              width: 296px;
              height: 40px;
              background-color: #D4C17F;
              text-align: center;
              border: none;
              outline: none;
            }
            input{
              display: block;
              width: 290px;
              height: 40px;
              text-align: center;
              border: none;
              outline: none;
              background: #525151;
              color: #fff;
            }
          }
        }
      }
    }
}
.gallery{
  h1{
    color: #fff;
    padding-top: 3rem;
  }

  .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .card{
      width: 23%;
      display: block;
      height: 300px;
      margin: 10px;
      background-color: #e2dbdb;
    }
  }

}
.services{
  h1{
    color: #fff;
    padding-top: 3rem;
  }
}
.fon{
  width: 100%;
  height: 750px;
  position: absolute;
  background-position: center -30px;
  background-size: 1300px 750px;
  background-repeat: no-repeat;
  z-index: -1;
}
.footer{
  background-color: #2D2D2D;
  margin-top: 50px;
  div{
    font-family: 'Raleway', sans-serif;
    display: flex;
    padding: 30px;
    margin: auto;
    justify-content: space-around;
    .first_section{
      display: block;
      h1{color:#cdddcd;}
      p{
        color: #fff;
        font-family: 'Raleway', sans-serif;}
    }
    .second_section, .third_section, .four_section{
      display: block;
      a{
        display: block;
        text-decoration: none;
        color: #fff;
        margin: 10px;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: lighter;
      }
    }
  }
  
}

