@import url(https://fonts.googleapis.com/css2?family=Abel&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,200&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.welcome {
  position: relative;
  background: #202020;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  margin: auto;
  padding-top: 30px;
  justify-content: space-between;
}
.header .logo {
  z-index: 1002;
  display: block;
  background-color: #ff0000;
  width: 130px;
  height: 40px;
}
.header .navbar {
  display: flex;
  align-items: flex-end;
  z-index: 1000;
}
.header .navbar a {
  align-items: center;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  margin-top: 12px;
  line-height: 140.62%;
  display: block;
  margin: 0 15px;
  color: inherit;
  width: 50px;
  text-decoration: none;
}
.header .navbar a:last-child {
  width: 50px;
}

.container {
  width: 80%;
  margin: auto;
}
.container .header {
  display: flex;
  align-items: center;
  margin: auto;
  padding-top: 30px;
  justify-content: space-between;
}
.container .header .logo {
  z-index: 1002;
  display: block;
  background-color: #fff;
  width: 130px;
  height: 40px;
}
.container .header .navbar {
  display: flex;
  align-items: flex-end;
  z-index: 1000;
}
.container .header .navbar a {
  align-items: center;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  margin-top: 12px;
  line-height: 140.62%;
  display: block;
  margin: 0 15px;
  color: #fff;
  width: 50px;
  text-decoration: none;
}
.container .header .navbar a:last-child {
  width: 50px;
}
.container .main .first {
  width: 100%;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  height: 100vh;
  background-image: url("/img/fon.png");
}
.container .main .first .context {
  text-align: center;
  margin: auto;
  margin-top: 150px;
  vertical-align: center;
}
.container .main .first .context h1 {
  text-align: center;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-style: bold;
  color: #fff;
  z-index: 1000;
  font-style: italic;
  font-weight: 600;
  font-size: 600%;
  letter-spacing: 12px;
}
.container .main .first .context h1 span {
  color: #B0806B;
}
.container .main .first .context p {
  margin-top: 30px;
  text-align: center;
  font-style: italic;
  font-size: 200%;
  color: #fff;
}
.container .main .first .context p::after {
  content: "";
  display: block;
  width: 50%;
  border-bottom: 1% solid #fff;
}
.container .main .second {
  padding-top: 2rem;
  height: 100vh;
  border-top: 4px solid #fff;
}
.container .main .second h1 {
  color: #D4C17F;
  font-size: 150%;
}
.container .main .second div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .main .second div .content {
  width: 50%;
  display: block;
}
.container .main .second div .content li {
  color: #fff;
  margin: 20px;
  display: block;
  font-size: 100%;
}
.container .main .second div .image {
  width: 50%;
}
.container .main .second div .image img {
  width: 95%;
}
.container .main .third {
  padding-top: 30px;
  border-top: 4px solid #fff;
}
.container .main .third h1 {
  margin-top: 2rem;
  color: #D4C17F;
  font-size: 34px;
}
.container .main .third div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}
.container .main .third div div:hover {
  transform: translateX(36px);
  transition: 0.3s;
  filter: drop-shadow(-40px -4px 4px rgba(255, 255, 255, 0.1));
}
.container .main .third div div {
  background-color: #fff;
  width: 300px;
  height: 470px;
  margin-top: 50px;
  filter: drop-shadow(-4px -4px 4px rgba(95, 95, 95, 0.25));
  border-radius: 14px;
  background-color: #222222;
}
.container .main .third div div h3 {
  color: #fff;
  margin: auto;
}
.container .main .third div div p {
  color: white;
  padding: 20px;
}
.container .main .third div div .cat_img {
  height: 200px;
  width: 96%;
}
.container .main .third div div section {
  width: 96%;
  height: 200px;
  position: absolute;
  padding: 0;
  margin: 2%;
  border-radius: 0;
  background-color: #202020;
  opacity: 0.7;
}
.container .main .third div div img {
  margin: 2%;
  color: antiquewhite;
  height: 300px;
  display: block;
  justify-content: center;
  height: 150px;
}
.container .main .third div div a {
  width: 200px;
  height: 30px;
  display: block;
  align-content: center;
  margin: auto;
  background-color: #D4C17F;
  border-radius: 10px;
  color: #fff;
  font-size: 19px;
  align-items: center;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  outline: none;
  border: none;
}
.container .main .fourth {
  margin-top: 100px;
  border-top: 4px solid #fff;
}
.container .main .fourth h1 {
  margin-top: 2rem;
  color: #D4C17F;
  font-size: 34px;
}
.container .main .fourth div {
  display: flex;
  flex-wrap: wrap;
  width: 96%;
  justify-content: space-between;
  margin: auto;
}
.container .main .fourth div a {
  width: 320px;
  height: 370px;
  margin-top: 100px;
  text-decoration: none;
  display: block;
}
.container .main .fourth div a div {
  text-align: right;
}
.container .main .fourth div a div .trener_img {
  width: 320px;
  height: 370px;
  position: absolute;
  z-index: 0;
  padding: 0;
  margin: 0;
}
.container .main .fourth div a div p {
  margin-left: 28%;
  padding-top: 80%;
  color: #fff;
  font-size: 20px;
  z-index: 1;
}
.container .main .fourth div a div .discription {
  color: #B0806B;
  padding: 0;
  font-size: 18px;
  margin-top: 10px;
  margin-right: 40px;
  margin-left: 50%;
}
.container .main .fourth div a:hover {
  box-shadow: 0 0 10px rgba(238, 234, 234, 0.5);
}
.container .main .fourth div a::before {
  content: "";
  background-color: #202020;
  width: 320px;
  opacity: 0.5;
  position: absolute;
  height: 370px;
}
.container .main .fourth div a:hover:before {
  opacity: 0;
}
.container .main .fives h1 {
  padding: 100px 0;
  color: #D4C17F;
  font-size: 34px;
}
.container .main .sixth {
  margin: auto;
  margin-top: 100px;
}
.container .main .sixth h1 {
  margin-top: 2rem;
  color: #D4C17F;
  font-size: 28px;
}
.container .main .sixth form {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 2rem;
}
.container .main .sixth form div {
  font-size: 8px;
  color: #fff;
  margin: 2%;
}
.container .main .sixth form div input {
  display: block;
  height: 40px;
  text-align: center;
  border: none;
  overflow: hidden;
  background: #525151;
  color: #fff;
}
.container .main .sixth form div button {
  height: 40px;
  width: 100%;
  background-color: #D4C17F;
  text-align: center;
  border: none;
  outline: none;
}
.container .gallery h1 {
  color: #fff;
  padding-top: 3rem;
}
.container .gallery .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}
.container .gallery .cards .card {
  width: 300px;
  display: block;
  height: 300px;
  margin: 10px;
  background-color: #e2dbdb;
}
.container .gallery .cards img {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background-color: #2D2D2D;
  margin-top: 50px;
}
.footer div {
  font-family: "Raleway", sans-serif;
  display: flex;
  margin: auto;
  justify-content: space-around;
}
.footer div .first_section {
  display: block;
}
.footer div .first_section h1 {
  color: #cdddcd;
  font-size: 100%;
}
.footer div .first_section p {
  color: #fff;
  font-size: 100%;
  font-family: "Raleway", sans-serif;
}
.footer div .second_section, .footer div .third_section, .footer div .four_section {
  display: block;
}
.footer div .second_section a, .footer div .third_section a, .footer div .four_section a {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: lighter;
}

@media (max-width: 854px) {
  .container {
    width: 94%;
  }
  .container .header .navbar {
    z-index: 1000;
  }
  .container .header .navbar a {
    align-items: center;
    font-style: italic;
    font-weight: bold;
    font-size: 10px;
    margin-top: 12px;
    display: block;
    margin: 0 5px;
    color: #fff;
    width: 40px;
    text-decoration: none;
  }
  .container .main .first .context {
    align-items: center;
  }
  .container .main .first .context h1 {
    font-size: 300%;
    letter-spacing: 7px;
  }
  .container .main .first .context p {
    font-size: 150%;
  }
  .container .main .second {
    padding-top: 2rem;
    height: 100vh;
    border-top: 2px solid #fff;
  }
  .container .main .second h1 {
    font-size: 24px;
    margin-right: 2rem;
  }
  .container .main .second .content {
    width: 50%;
  }
  .container .main .second .content li {
    color: #fff;
    font-size: 12px;
  }
  .container .main .second .image {
    width: 50%;
  }
  .container .main .second .image img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .container .main .second div {
    display: block;
  }

  .container .main .second div .content {
    width: 100%;
  }

  .container .main .second div .content li {
    font-size: 120%;
  }

  .container .main .second div .image {
    display: none;
  }

  .container .main .fourth div {
    justify-content: center;
  }

  .footer div .first_section {
    display: none;
  }

  .footer div .second_section {
    width: 50%;
  }

  .container .main .sixth div form {
    display: block;
  }
}
